@import "tailwindcss";

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

@theme {
  --color-background: #fef9f4;
  --color-foreground: #2a2a2a;
  --color-muted: #dddddd;
  --color-muted-foreground: #888888;
  --color-link: #588b7e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #181818;
    --color-foreground: #fef9f4;
    --color-muted: #333333;
    --color-muted-foreground: #888;
    --color-link: #77c7b4;
  }

  .invert-when-dark {
    filter: invert(1);
  }
}

:root {
  --default-font-family: "Figtree", sans-serif;
  --font-family-mono: var(--source-code-font);
  --default-mono-font-family: var(--font-family-mono);

  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
  @apply text-lg;
  @apply leading-relaxed;
  @apply antialiased;
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;

  font-size: 1.125em; /* 18px */

  padding: .75lh;
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  body {
    padding: 1.5lh;
    font-size: 1.25em; /* 20px */
  }
}

a[href] {
  color: var(--color-link);
  padding-inline: 2px;
  transition: all .18s;
  
}
a[href]:hover, a[aria-current=page] {
  background-color: var(--color-link);
  color: #fff;
  text-decoration: none;
}

nav a {
  text-box: trim-both cap alphabetic;
  padding-block: 4px;
  line-height: 1;
}



h1 a {
  color: inherit;
}


.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose {
  @apply text-foreground hyphens-auto;
  max-width: 860px;
}


.prose .anchor:after {
  @apply text-muted-foreground;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-muted/30 rounded-md overflow-auto py-4 px-5 text-sm;
}

.prose :not(pre) > code {
  @apply px-1 py-0.5 text-sm bg-muted/60 rounded;
}

.prose pre code {
  @apply p-0;
  @apply text-xs;
  border: initial;
}

.prose code span {
  @apply font-medium;
}

.prose p,
.prose li:has(> p),
.prose li > :is(img, pre) {
  @apply my-4;
}

.prose > p:first-child {
  @apply mt-2;
}

.prose li p:first-of-type {
  @apply my-0;
}
.prose li p:nth-of-type(2) {
  @apply mt-0;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-2xl font-semibold tracking-tight mt-10 mb-2;
}

.prose h3,
.prose h4 {
  @apply text-base font-bold tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-bold;
}

.prose ul {
  @apply list-disc pl-8;
}

.prose ol {
  @apply list-decimal pl-8;
}

.prose figcaption {
  @apply text-sm text-center -mt-2 mb-6 text-muted-foreground italic;
  @apply border-b border-muted bg-background;
}

.prose figcaption p {
  @apply my-2;
}

.prose blockquote {
  @apply border-l-4 border-muted pl-4 pr-2 mt-2 mb-4;
}
.prose blockquote > p {
  @apply italic my-4;
}
.prose blockquote cite {
  @apply not-italic;
}

@media (min-width: 1300px) {
  #contents { display: none }
  #contents + ol {
    display: block;
    position: sticky;
    top: 30px;
    margin-right: -440px;
    margin-top: 24px;
    width: 400px;
    float: right;
  }
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
  text-wrap: pretty;
}

.rainbow em {
  font-style: normal;
}
.rainbow em:nth-child(1) {
  color: #f51365;
}
.rainbow em:nth-child(2) {
  color: #b33293;
}
.rainbow em:nth-child(3) {
  color: #813fba;
}
